* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #33475B;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

.header {
  background-color: #F5F8FA;
  height: 80px;
  border-bottom: 2px solid #CBD6E2;
}

.header-left , .header-right {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

.header-left .fa-angle-down {
  border-right: 2px solid #CBD6E2;
  padding-right: 20px;
  margin-right: 20px;
}

.header-left a {
  text-decoration: none;
  color: #33475b;
}

.header-right {
  text-align: right;
}

.login {
  border: none;
  background-color: #FFFFFF;
  font-size: 15px;
  color: #FF7A59;
  padding: 10px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-right i {
  color: #08A7BF;
}

.getfree {
  border: none;
  background-color: #FF7A59;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.getfree:hover {
  background-color: #FFBCAC;
}

nav {
  height: 80px;
}

.logo , .menu {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

.menu {
  text-align: right;
}

.menu ul li {
  display: inline;
  text-decoration:none;
  padding:10px;
}

.menu ul li a {
  text-decoration:none;
  color: #33475B;
  font-size: 16px;
  font-weight: 600;
}

.menu .fa-angle-down {
  color: #7C98B6;
  padding-left: 10px;
}

.logo img {
  vertical-align: middle;
}

.banner {
  background-color: #FFF2EF;
  height: 650px;
  color: #33475b;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  }

.title {
  width: 50%;
  height: 100%;
}

.title h1 {
  font-size: 50px;
  font-weight:700;
  padding-top: 70px;
  padding-bottom: 30px;
}

.title p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

.title .getfree {
  padding: 20px;
  margin-bottom: 20px;
}

.title h4 {
  font-weight: normal;
  font-size: 15px;
  font-weight: bold;
}

.sezione-azzurra {
  height: 110px;
  background-color: #AFEBE4;
  width: 100%;
  border-bottom: 4px solid #33475B;
  border-top: 4px solid #33475B;
}
.sezione-cubo {
  height: 450px;
  width: 62%;
  margin: auto;
  text-align: center;
  color: #33475B;
}

.sezione-cubo img {
  width: 40%;
  margin-top: 40px;
}

.sezione-centrale {
  width: 100%;
  height: 1540px;
  background-color:#F4F9FD;
}

.sezione-cubo h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.sezione-crm {
  background-color: white;
  width: 100%;
  height: 350px;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 1%;
}

.sezione-crm-right{
  float: left;
  width: 70%;
  height: 100%;
}

.sezione-crm-left {
  float: left;
  width: 30%;
  height: 100%;
  position: relative;
}

.sezione-crm-left .learn-more {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

.learn-more button {
  border: none;
  background-color: #FF7A59;
  color: white;
  padding: 20px 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}

.learn-more button:hover {
  background-color: #FFBCAC;
}

.sezione-crm-right h1 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.sezione-crm-right p {
  width: 80%;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sezione-crm-right h3 {
  font-weight:800;
  margin-bottom: 30px;
}

.sezione-crm-right ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

.fa-check-circle {
  color: #FF7A59;
  margin-right: 10px;
}

.tre-colonne {
  margin-top: 50px;
  width: 100%;
  height: 600px;
}

.tre-colonne .right , .central , .left {
  float: left;
  width: 30%;
  height: 625px;
}

.tre-colonne .left {
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;
}

.tre-colonne .right {
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;
}

.tre-colonne .central {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;
}

.tre-colonne .left img {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tre-colonne .central img {
  width: 30%;
  margin-top: 24px;
  margin-bottom: 20px;
}

.tre-colonne .right img {
  width: 25%;
  margin-top: 11px;
  margin-bottom: 20px;
}

.descrizione-img {
  line-height: 25px;
  font-weight: 400;
  margin-top: 20px;
  padding:35px;
  font-weight:bold;
}

.hr {
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

h3 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.tre-colonne ul li {
  list-style: none;
  text-align: left;
  margin-left: 25px;
  font-weight: bold;
}

#btn {
   border: none;
   background-color: #FF7A59;
   color: white;
   padding: 20px 30px;
   font-size: 15px;
   border-radius: 5px;
   margin-top: 40px;
   font-weight: bold;
}

.sezione-community {
  background-image: linear-gradient(to right, #00a4bd,#00bda5);
  height: 730px;
  width: 100%;
  text-align:center;
  color: white;
}

.contenitore h1 {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.prima-riga {
  float: left;
  width: 25%;
  height: 200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 80px;
}

.seconda-riga {
  float: left;
  width: 25%;
  height: 200px;
  border-right: 1px solid white;
}

.none {
  border-right: none;
}

.icone {
  font-size: 35px;
  margin-top:30px;
}

.prima-riga h1 {
  padding: 20px;
}

.prima-riga p {
  font-size: 10px;
  font-weight: bold;
}

#marketplace {
  width: 52%;
}

.seconda-riga h1 {
  padding: 20px;
}

.seconda-riga p {
  font-size: 10px;
}

.sezione-partners {
  width: 100%;
  height: 630px;
  text-align: left;
}

.sezione-partners .left{
  height: 100%;
  width: 40%;
  float: left;
}

.sezione-partners .right{
  height: 100%;
  width: 60%;
  float: left;
}

.sezione-partners .left h1{
  margin: auto;
  width: 50%;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sezione-partners .left p {
  width: 50%;
  margin:auto;
}

.sezione-partners .left h2 {
  width: 85%;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
}

.sezione-partners .left h4 {
  width: 96%;
  font-weight: normal;
  font-weight: bold;
  line-height: 30px;
}

.sezione-partners .left h6 {
  margin-top: 50px;
  font-size: 12px;
}

.sezione-partners ul li img {
  width: 21%;
  margin-top: 20px;
  margin-left: 20px;
}

.wistia , .subaru , .wmware, .classpass{
  vertical-align:middle;
}

.sezione-partners ul li {
  display: inline;
}

.woman {
  width: 35%;
  float:right;
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 650px;
  background-color: #33475B;
  color: white;
}

.top {
  width: 100%;
  height: 350px;
}

.bottom {
  width: 100%;
  height: 250px;
}
.top div {
  width: 25%;
  float: left;
  height: 100%;
  text-align: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.top div h4 {
  margin-top: 30px;
}

footer ul li {
  list-style: none;
  margin-top: 20px;
}

footer ul li a {
  color: #CBD6E2;
  text-decoration: none;
}

footer ul li a:hover {
  color: #69ABDA;
}

.contact {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #33475B;
  font-size: 15px;
  margin-bottom: 15px;
}

.quarta-colonna .fa-angle-down {
  margin-left: 8px;
}

.contact:hover {
  background-color: #CBD6E2;
}

.social li {
  display: inline;
  margin-right: 15px;
}

.social i {
  font-size: 25px;
  color:#CBD6E2 ;
}

.social i:hover {
  color:#69ABDA;
}

.lingue {
  width: 100%;
  height: 120px;
  float: left;
  text-align: center;
  line-height: 80px;
}

.copyright {
  width: 50%;
  height: 80px;
  float: left;
}

.policy {
  width: 50%;
  height: 80px;
  float: left;
}

.lingue p {
  display: inline;
  margin-right: 20px;
}

.bottom {
  color:#CBD6E2 ;
  margin-top: 25px;
}

.lingue p a {
  color:#CBD6E2 ;
  text-decoration: none;
  font-size: 20px;
}

.lingue p a:hover {
  color:#69ABDA;
}


.copyright i {
  margin-left: -10px;
  margin-bottom: 15px;
}

.policy li {
  display: inline;
  margin-left: 30px;
}

.policy a {
  text-decoration: none;
  color: #CBD6E2;
  font-size: 20px;
}

.policy {
  text-align: right;
}

.linea {
  color: #CBD6E2;
  margin-top: 10px;
}

#btn:hover {
  background-color: #FFBCAC;
}

.chatbox {
  width: 20%;
  height: 150px;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.chatbox p {
  width: 76%;
  line-height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
}

.robot {
  width: 17%;
  margin-left: 42%;
  margin-top: -30px;
}

.fa-times {
 float: right;
 margin-right: 20px;
 margin-top: 15px;
 font-size: 20px;
}
