* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

header {
  background-color: #F5F8FA;
  height: 80px;
  border-bottom: 2px solid #CBD6E2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.header-left , .header-right {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

.header-left .fa-angle-down {
  border-right: 2px solid #CBD6E2;
  padding-right: 20px;
  margin-right: 20px;
}

.header-left a {
  text-decoration: none;
  color: #33475b;
}

.header-right {
  padding-left: 350px;
}

.login {
  border: none;
  background-color: #FFFFFF;
  font-size: 15px;
  color: #FF7A59;
  padding: 10px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-right i {
  color: #08A7BF;
}

.getfree {
  border: none;
  background-color: #FF7A59;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

nav {
  height: 80px;
}

.logo , .menu {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

nav::after {
  content: '';
  display: table;
  clear: both;
}

.menu ul li {
  display: inline;
  text-decoration:none;
  padding: 20px;
}

.menu ul li a {
  text-decoration:none;
  color: #33475B;
  font-size: 16px;
  font-weight: 600;
}

.menu .fa-angle-down {
  color: #7C98B6;
  padding-left: 10px;
}

.logo img {
  vertical-align: middle;
}

.banner {
  background-color: #FFF2EF;
  height: 900px;
  color: #33475b;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  }

.title {
  width: 50%;
  height: 100%;
}

.title h1 {
  font-size: 50px;
  font-weight:700;
  padding-top: 70px;
  padding-bottom: 30px;
}

.title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

.title .getfree {
  padding: 20px;
  margin-bottom: 20px;
}

.title h4 {
  font-weight: normal;
  font-size: 15px;
}
