* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #33475B;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

.header {
  background-color: #F5F8FA;
  height: 80px;
  border-bottom: 2px solid #CBD6E2;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.header-left , .header-right {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

.header-left .fa-angle-down {
  border-right: 2px solid #CBD6E2;
  padding-right: 20px;
  margin-right: 20px;
}

.header-left a {
  text-decoration: none;
  color: #33475b;
}

.header-right {
  text-align: right;
  /* padding-left: 350px; */
}

.login {
  border: none;
  background-color: #FFFFFF;
  font-size: 15px;
  color: #FF7A59;
  padding: 10px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-right i {
  color: #08A7BF;
}

.getfree {
  border: none;
  background-color: #FF7A59;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

nav {
  height: 80px;
}

.logo , .menu {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 80px;
}

.menu {
  text-align: right;
}
nav::after {
  content: '';
  display: table;
  clear: both;
}

.menu ul li {
  display: inline;
  text-decoration:none;
  padding:10px;
}

.menu ul li a {
  text-decoration:none;
  color: #33475B;
  font-size: 16px;
  font-weight: 600;
}

.menu .fa-angle-down {
  color: #7C98B6;
  padding-left: 10px;
}

.logo img {
  vertical-align: middle;
}

.banner {
  background-color: #FFF2EF;
  height: 650px;
  color: #33475b;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;

  }

.title {
  width: 50%;
  height: 100%;
}

.title h1 {
  font-size: 50px;
  font-weight:700;
  padding-top: 70px;
  padding-bottom: 30px;
}

.title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

.title .getfree {
  padding: 20px;
  margin-bottom: 20px;
}

.title h4 {
  font-weight: normal;
  font-size: 15px;
}

.sezione-azzurra {
  height: 110px;
  background-color: #AFEBE4;
  width: 100%;
  border-bottom: 4px solid #33475B;
  border-top: 4px solid #33475B;
}
.sezione-cubo {
  height: 450px;
  width: 62%;
  margin: auto;
  text-align: center;
  color: #33475B;
}

.sezione-cubo img {
  width: 40%;
  margin-top: 40px;
}

.sezione-centrale {
  width: 100%;
  height: 1540px;
  background-color:#F4F9FD;
}

.sezione-cubo h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.sezione-crm {
  background-color: white;
  width: 100%;
  height: 350px;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 1%;

}

.sezione-crm::after{
  content: '';
  display: table;
  clear: both;
}

.sezione-crm-right{
  float: left;
  width: 70%;
  height: 100%;
}

.sezione-crm-left {
  float: left;
  width: 30%;
  height: 100%;
  position: relative;

}
.sezione-crm-left .learn-more {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

.learn-more button {
  border: none;
  background-color: #FF7A59;
  color: white;
  padding: 20px 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}

.sezione-crm-right h1 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.sezione-crm-right p {
  width: 80%;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sezione-crm-right h3 {
  font-weight:800;
  margin-bottom: 30px;
}

.sezione-crm-right ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}
.fa-check-circle {
  color: #FF7A59;
  margin-right: 10px;
}

.tre-colonne {
  margin-top: 50px;
  width: 100%;
  height: 600px;
}
.tre-colonne .right , .central , .left {
  float: left;
  width: 30%;
  height: 625px;
}

.tre-colonne .left {
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;
}

.tre-colonne .right {
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;


}

.tre-colonne .central {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #E8EEF3;
  border-radius: 2%;

}


.tre-colonne::after {
  content: '';
  display: table;
  clear: both;
}

.tre-colonne .left img {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tre-colonne .central img {
  width: 30%;
  margin-top: 24px;
  margin-bottom: 20px;
}

.tre-colonne .right img {
  width: 25%;
  margin-top: 11px;
  margin-bottom: 20px;
}

.descrizione-img {
  line-height: 25px;
  font-weight: 400;
  margin-top: 20px;
  padding:35px;
  font-weight:bold;
}

hr {
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

h3 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.tre-colonne ul li {
  list-style: none;
  text-align: left;
  margin-left: 25px;
  font-weight: bold;
}

#btn {
   border: none;
   background-color: #FF7A59;
   color: white;
   padding: 20px 30px;
   font-size: 15px;
   border-radius: 5px;
   margin-top: 40px;
   font-weight: bold;
}

.sezione-community {
  background-image: linear-gradient(#00A9B8, #00B6AB);
  height: 800px;
  width: 100%;
  text-align:center;
  color: white;
}

.contenitore h1 {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.prima-riga {
  float: left;
  width: 25%;
  height: 200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 80px;
}

.contenitore::after {
  content: '';
  display: table;
  clear: both;
}

.seconda-riga {
  float: left;
  width: 25%;
  height: 200px;
  border-right: 1px solid white;
}

.none {
  border-right: none;
}
